<p id="notice"><%= notice %></p>
<h4>Phone Table</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Person ID</th>
          <th>Phone #</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
 <% @phone_numbers.each do |phone_number| %>
        <tr>
       <td><%= phone_number.person_id %></td>
        <td><%= phone_number.phone_number %></td>
        <td><%= phone_number.comment %></td>
        <td><%= link_to 'Show', phone_number %></td>
        <td><%= link_to 'Edit', edit_phone_number_path(phone_number) %></td>
        <td><%= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>

<br>
<%= link_to 'Back', root_path, class: 'btn btn-info' %>
<%= link_to 'New Email', new_phone_number_path, class: 'btn btn-info' %>
