<%= form_with(model: address, class: 'editform', local: false) do |form| %>
<div class="modal-body">
 <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-6">
     <label class="form-label">Person ID</label>
<%= form.text_field :person_id, class: 'form-control' %>
  </div>
  <div class="col-md-10">
    <label class="form-label">Street</label>
<%= form.text_field :street, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <label class="form-label">Town</label>
    <%= form.text_field :town, class: 'form-control' %>
  </div>
    <div class="col-md-6">
    <label class="form-label">State</label>
   <%= form.text_field :state, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <label class="form-label">Zip</label>
  <%= form.number_field :zip, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <label class="form-label">Country</label>
<%= form.country_select :country, class: 'form-control' %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
  <%= form.submit class: 'btn btn-info update' %>
</div>
<% end %>