<p id="notice"><%= notice %></p>
<h4>Address Table</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <tr>
          <th>Person ID</th>
          <th>Email</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
    <% @emails.each do |email| %>
        <tr>
       <td><%= email.person_id %></td>
        <td><%= email.email_address %></td>
        <td><%= email.comment %></td>
        <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>

<br>
<%= link_to 'Back', root_path, class: 'btn btn-info' %>
<%= link_to 'New Email', new_email_path, class: 'btn btn-info' %>
